/* font-family poppins & bodoni */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,700&family=Poppins:wght@200;300;400;600&display=swap');

/*variables*/
:root {
    /*fonts*/
    --ff-headers: 'Bodoni 72 Oldstyle';
    --ff-body: 'Poppins',sans-serif;
    /*colors*/
    --primary-clr: #3547A6;
    --secondary-clr-grey: hsl(210, 22%, 49%);
    --clr-white: #ffffff;
    /*for heading and paragraphs*/
    --text-clr: rgb(0, 0, 0);
    --btn-inactive: rgba(0,0,0, 0.2);
    /*shadows*/
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
}
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-body);
}

main {
    width: 100vw;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* navbar */
nav {
    background-color: var(--clr-white);
    padding: 1rem 1.5rem;
    font-family: var(--ff-body);
    font-weight: 600;
    border-bottom: 1px solid #000000;
    z-index: 100;
    width: 100%;
}
.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-toggle {
    font-size: 1.5rem;
    color: var(--text-clr);
    background: var(--clr-white);
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
}

.nav-toggle:hover {
    color: var(--primary-clr);
}
.nav-toggle:active {
    color: var(--primary-clr);
}

.logo {
    height: 90px;
}

.links-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links {
    height: 200px;
}

.links a {
    background: var(--clr-white);
    color: var(--text-clr);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    font-weight: 600;
    padding: 0.75rem 0;
    text-decoration: none;
}

.links a:hover {
    color: var(--primary-clr);
}
.links a:active {
    color: var(--primary-clr);
}

/* fixed nav */
.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--clr-white);
    box-shadow: var(--light-shadow);
}

.fixed-nav .links a {
    color: var(--text-clr);
}

.fixed-nav .links a:hover {
    color: var(--primary-clr);
}

.fixed-nav .links a:active {
    color: var(--primary-clr);
}

/*back to top button */
.top-link {
    font-size: 1.25rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    background: var(--secondary-clr-grey);
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    border-radius: var(--radius);
    color: var(--clr-white);
    animation: bounce 2s ease-in-out infinite;
    visibility: hidden;
    z-index: -100;
    border-radius: 10%;
}

/*show and hide links on mobile using visibility */

.show-link {
    visibility: visible;
    z-index: 100;
}

@media screen and (min-width: 800px) {
    nav {
        background: var(--clr-white);
    }

    .nav-center {
        width: 90vw;
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-header {
        padding: 0;
    }

    .nav-toggle {
        display: none;
    }

    .links-container {
        height: auto !important;
    }

    .links {
        display: flex;
    }

    .links a {
        background: var(--clr-white);
        color: var(--text-clr);
        font-size: 1.1rem;
        text-transform: capitalize;
        letter-spacing: var(--spacing);
        display: block;
        transition: var(--transition);
        margin: 0 1rem;
        font-weight: bold;
        padding: 0;
        text-decoration: none;
    }

    .links a:hover {
        color: var(--primary-clr);
    }
    .links a:active {
        color: var(--primary-clr);
    }
}

/* ****** SECTIONS ******** */
.sectionq {
    padding: 4rem 1%;
    margin: 0 auto;
    overflow: hidden;
}

.section-center {
    width: 85vw;
    margin: 0 auto;
    max-width: 1170px;
}

@media screen and (min-width: 992px) {
    .section-center {
        width: 90vw;
    }
}

/* ***** TITLES ****** */
.titleblog h1 {
    color: var(--text-clr);
    text-transform: capitalize;
    line-height: 3rem;
    font-size: 2.68rem;
    font-family: var(--ff-headers);
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
    padding: 1rem 0;
}

.titlecontact h1 {
    color: var(--clr-white);
    text-transform: capitalize;
    line-height: 3rem;
    font-size: 2.68rem;
    font-family: var(--ff-headers);
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
    padding: 1rem 0;
}

.title h2 {
    color: var(--text-clr);
    text-transform: capitalize;
    line-height: 2rem;
    font-size: 1.68rem;
    font-family: var(--ff-headers);
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
}

.titleg h2 {
    color: var(--text-clr);
    text-transform: capitalize;
    line-height: 2rem;
    font-size: 1.68rem;
    font-family: var(--ff-headers);
    font-weight: 400;
    margin: 0 auto;
    text-align: left;
}

.titlew h2 {
    position: absolute;
    left: 0;
    color: var(--clr-white);
    text-transform: capitalize;
    transform: rotate(-90deg);
    line-height: 1.68rem;
    font-size: 1.12rem;
    font-family: var(--ff-body);
    font-weight: 600;
    margin-top: 5.75rem;
    margin-left: 1.4rem;
}

.titled h2 {
    position: absolute;
    color: var(--text-clr);
    text-transform: capitalize;
    transform: rotate(-90deg);
    line-height: 1.68rem;
    font-size: 1.12rem;
    font-family: var(--ff-body);
    font-weight: 600;
    margin-top: 3.75rem;
}
.blogtitle h2 {
    position: absolute;
    color: var(--text-clr);
    text-transform: capitalize;
    transform: rotate(-90deg);
    line-height: 1.68rem;
    font-size: 1.12rem;
    font-family: var(--ff-body);
    font-weight: 600;
    margin-top: 3.75rem;
}

.titled span {
    color: var(--primary-clr);
}
/* END OF TITLES */

/*banner*/
.banner {
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
}

.container p {
    color: var(--text-clr);
    font-family: var(--ff-body);
    padding-top: 3%;
    font-weight: 300;
    font-size: 1.12rem;
    line-height: 1.56rem;
    margin: 2rem auto;
    text-align: center;
}

.container h1 {
    color: var(--text-clr);
    text-transform: capitalize;
    font-family: var(--ff-headers);
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.78rem;
}

/* work section */
.tailored {
    color: var(--clr-white);
    text-transform: capitalize;
    font-family: var(--ff-headers);
    font-weight: 300;
    font-size: 3rem;
    line-height: 3.78rem;
    text-align: left;
    margin: 1rem auto;
}

.tailoredw {
    color: var(--text-clr);
    text-transform: capitalize;
    font-family: var(--ff-headers);
    font-weight: 300;
    font-size: 3rem;
    line-height: 3.78rem;
    text-align: left;
    margin: 1rem auto;
    padding: 1rem auto;
}

.container p {
    color: var(--text-clr);
    font-family: var(--ff-body);
    padding-top: 3%;
    font-weight: 300;
    font-size: 1.12rem;
    line-height: 1.56rem;
    margin: 2rem auto;
    text-align: center;
}

.seework {
    color: var(--clr-white);
    font-size: 1.12rem;
    line-height: 1.56rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    font-family: var(--ff-body);
    font-weight: 300;
    text-decoration: none;
    margin: 1rem auto;

}

/* @media screen and (min-width: 768px) {
    .container p {
        max-width: 40rem;
    }
} */
/* slider */
.slider-container {
    width: 100%;
    margin: 0 auto;
    height: auto;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.slide {
    position: absolute;
    width: 100%;
    height: inherit;
    display: grid;
    place-items: center;
    transition: all 0.25s ease-in-out;
    text-align: center;
    z-index: 0;
}

.slide-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.75rem;
    z-index: 90;
}

.prevBtn {
    position: absolute;
    top: 45%;
    left: 1%;
    background: transparent;
    border-color: transparent;
    font-size: 1.75rem;
    cursor: pointer;
    margin: 0 0.25rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: var(--clr-white);
    transition: var(--transition);
    z-index: 90;
}

.nextBtn {
    position: absolute;
    right: 1%;
    top: 45%;
    background: transparent;
    border-color: transparent;
    font-size: 1.75rem;
    cursor: pointer;
    margin: 0 0.25rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: var(--clr-white);
    transition: var(--transition);
    z-index: 90;
}

.prevBtn:hover,
.nextBtn:hover {
    color: var(--clr-white);
}

@media screen and (min-width: 576px) {
    .slider-container {
        height: 45vh;
    }
}

@media screen and (min-width: 768px) {
    .slider-container {
        height: 65vh;
    }
}

@media screen and (min-width: 992px) {
    .slider-container {
        height: 65vh;
    }
}
/* END OF WORK SECTION */

/* SERVICES SECTION */
#services {
    height: 400px;
    background: var(--clr-white);
    top: 0;
    left: 0;
    padding-top: 2rem;
    padding-bottom: 0;
}

/* services tab/accordion */
.btn {
    text-transform: uppercase;
    background: transparent;
    color: var(--text-clr);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
}

.btn:hover {
    color: var(--clr-white);
    background: var(--text-clr);
}
.service {
    background: var(--clr-white);
    padding: 1.5rem 1.5rem 0 1.5rem;
    border-top: 1px solid black;
    cursor: pointer;
}

.service:nth-child(4) {
    border-bottom: 1px solid black;
}

.service-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding-bottom: 1rem;
}

.service-title p {
    margin-bottom: 0;
    letter-spacing: var(--spacing);
    color: var(--text-clr);
}

.service-btn {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    transition: var(--transition);
}

.service-text {
    padding: 1rem 0 1.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.service-text p {
    margin-bottom: 0;
}
/* hide text */
.service-text {
    display: none;
}

.show-text .service-text {
    display: block;
}

.times-icon {
    display: none;
}

.show-text .times-icon {
    display: inline;
}

.show-text .plus-icon {
    display: none;
}

/* clients section */
.containerc {
    height: auto;
    width: 100%;
    padding: 3rem 0;
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: masonry;
    column-gap: 1rem;
    row-gap: 4rem;
    margin: 0 auto;
    transition: transform .2s;
}

.containerc:hover {
    filter: grayscale(1);
    cursor: pointer;
    transform: scale(1.1);
}

.client {
    align-items: center;
    place-self: center;
}
/* END OF SERVICES SECTION */

/* BLOG SECTION */
/* latest blog section */
.blog {
    background: var(--clr-white);
    padding: 1.5rem 1.5rem 0 1.5rem;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    height: 5rem;
}

.blog:nth-child(4) {
    border-bottom: 1px solid black;
}

.blog-date {
    align-items: flex-start;
    cursor: pointer;
}

.blog-date, p {
    font-family: var(--ff-body);
    color: var(--text-clr);
    font-weight: 300;
    font-size: 1.12rem;
    line-height: 1.68rem;
}

.blog-category {
    align-items: flex-end;
    cursor: pointer;
}

.blog-title {
    text-transform: capitalize;
    padding-bottom: 1rem;
    align-items: center;
    cursor: pointer;
}

.blog-title,
.blog-category,
p {
    margin-bottom: 0;
    letter-spacing: var(--spacing);
    color: var(--text-clr);
    font-family: var(--ff-body);
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 1.68rem;
}

.postnav-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    left: 1%;
}

.prevPost {
    background: transparent;
    border-color: transparent;
    font-size: 1.9rem;
    cursor: pointer;
    margin: 0 0.5rem;
    color: var(--btn-inactive);
    transition: var(--transition);
}

.nextPost {
    background: transparent;
    border-color: transparent;
    font-size: 1.9rem;
    cursor: pointer;
    margin: 0 0.5rem;
    color: var(--text-clr);
    transition: var(--transition);
}

#blog {
    margin: 3rem auto;
}
/* END OF BLOG SECTION */

/* CONTACT SECTION */
#contact {
    background: var(--primary-clr);
}

.container-c {
    width: 80vw;
    margin: 0 auto;
    padding: 1rem 1.5rem;
}

.container-c p {
    color: var(--clr-white);
    line-height: 1.68rem;
    font-size: 1.12rem;
    font-weight: 300;
    font-family: var(--ff-body);
    text-align: center;
}

.btnc {
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-white);
    padding: 0.75rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 1px solid var(--clr-white);
    cursor: pointer;
    margin-top: 2rem;
}

.btnc:hover {
    color: var(--clr-white);
    background: var(--secondary-clr-grey);
}

.titlec h2 {
    position: absolute;
    left: 0;
    color: var(--clr-white);
    text-transform: capitalize;
    transform: rotate(-90deg);
    line-height: 1.68rem;
    font-size: 1.12rem;
    font-family: var(--ff-body);
    font-weight: 600;
    margin-top: 2.75rem;
}
/* END OF CONTACT SECTION */

/* sections and title */
.container {
    height: auto;
    overflow: hidden;
    width: 100%;
}

#work {
    height: 530px;
    background-color: var(--primary-clr);
    top: 0;
    left: 0;
}

.lefttwork {
    width: 60%;
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 5rem 10%;
    align-items: center;
    text-align: left;
    height: auto;
    /* padding: 5rem auto; */
}

.lefttworkservices {
    width: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    padding: 5rem 10%;
    align-items: center;
    text-align: left;
    height: auto;
    /* padding: 5rem auto; */
}

.lefttwork p {
    font-size: 1rem;
    line-height: 1.68rem;
    text-align: left;
    color: var(--clr-white);
    font-family: var(--ff-body);
    font-weight: 200;
}

.rightwork {
    width: 40%;
    display: inline-block;
    background: transparent;
    position: absolute;
    right: 0;
    height: auto;
    vertical-align: middle;
    padding: 3rem 1%;
}

.rightworkservices {
    width: 50%;
    display: inline-block;
    background: transparent;
    position: absolute;
    right: 0;
    height: auto;
    vertical-align: middle;
    padding: 3rem 1%;
}

.rightworkservices p {
    font-size: 1rem;
    line-height: 1.68rem;
    text-align: justify;
    color: var(--text-clr);
    font-family: var(--ff-body);
    font-weight: 200;
    padding: 1rem 4rem;
}

.rightwork p {
    font-size: 1rem;
    line-height: 1.68rem;
    text-align: justify;
    color: var(--text-clr);
    font-family: var(--ff-body);
    font-weight: 200;
    padding: 1rem;
}

/* get in touch */
.containerg {
    height: auto;
    overflow: hidden;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.address {
    padding: 1rem 0;
}

.numc {
    text-align: left;
}

.address p {
    letter-spacing: normal;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
}

.site-map {
    padding: 1rem 0;
}

.site-map ul {
    margin-top: 0.5rem;
}

.linksite {
    color: var(--text-clr);
    font-size: 1rem;
    letter-spacing: normal;
    display: block;
    transition: var(--transition);
    font-weight: 400;
    padding: 0.5rem 0;
}

.follow {
    padding: 1rem 0;
}

.follow ul {
    margin-top: 0.5rem;
}

.linksfooter {
    color: var(--text-clr);
    font-size: 1rem;
    letter-spacing: normal;
    display: block;
    transition: var(--transition);
    font-weight: 400;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    text-decoration: underline;
}

.linksfooter:hover {
    color: var(--primary-clr);
}

.linksfooter:active {
    color: var(--primary-clr);
}

/* footer */
footer {
    height: auto;
    font-family: var(--ff-body);
    background: var(--clr-white);
    overflow: hidden;
    width: 100%;
    margin-bottom: 0;
    padding: 0.9rem 1rem;
}

.leftf {
    display: inline-block;
    width: 80%;
}

.rightf {
    width: 15%;
    display: inline-block;
}

footer p {
    color: var(--text-clr);
    font-family: var(--ff-body);
    font-weight: 400;
    font-size: 1.12rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
}

/* mobile query for mobile phones strictly */
@media screen and (max-width: 650px) {
    /*back to top button */
    .top-link {
        bottom: 0.5rem;
        right: 0.5rem;
    }
    /* banner */
    .banner {
        height: auto;
        display: grid;
        place-items: center;
        text-align: center;
        padding: 2rem;
    }
    .container h1 {
        font-size: 2rem;
        line-height: 2.78rem;
    }
    /* footer_getintouch */
    .containerg {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        row-gap: 2rem;
        justify-content: space-between;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    /* footer_bottom */
    .leftf, .rightf {
        display: block;
        width: 100%;
        margin-top: 10px;
    }
    footer p {
        font-size: 0.9rem;
        text-transform: capitalize;
        letter-spacing: var(--spacing);
        text-align: center;
    }
    footer span {
        display: none;
    }
    /* logo height */
    .logo {
        height: 40px;
    }
    /* work section */
    #work {
        width: 100%;
        height: auto;
        position: relative;
    }
    .lefttwork, .rightwork, .slider-container {
        display: block;
        width: 100%;
        align-items: center;
        height: auto;
        position: relative;
        padding: 2rem 10%;
    }
    .tailored {
        font-family: var(--ff-headers);
        font-weight: 200;
        font-size: 2rem;
        line-height: 2.78rem;
    }
    .slider-container {
        height: 65vh;
    }
    /* services section */
    #services {
        width: 100%;
        height: auto;
        position: relative;
    }
    .lefttworkservices, .rightworkservices, .sectionq {
        display: block;
        width: 100%;
        align-items: center;
        height: auto;
        position: relative;
        padding: 1rem 10%;
    }
    /* titles vertical */
    .titlew h2 {
        margin-top: 3.75rem;
        margin-left: -0.8rem;
    }
    .titled h2 {
        margin-top: 3.75rem;
        margin-left: -3rem;
    }
    .blogtitle h2 {
        margin-top: 3.75rem;
        margin-left: -2.5rem;
    }
    .title h2 {
        font-weight: 400;
    }
    .titleblog h1 {
        font-weight: 400;
    }
    .titlec h2 {
        margin-top: 2.75rem;
        margin-left: -1.8rem;
    }
    .rightworkservices p {
        font-weight: 200;
        padding: 0;
        text-align: left;
    }
    .tailoredw {
        font-weight: 200;
        font-size: 2rem;
        line-height: 2.78rem;
        padding: 0;
    }
    .service-title p {
        font-size: 0.72rem;
        line-height: 1.5rem;
        /* margin-left: -1rem; */
    }
    .service {
        padding: 0.5rem 0.5rem 0 0.5rem;
    }
    .service-text p {
        font-size: 0.72rem;
        line-height: 1.5rem;
        font-weight: normal;
    }
    .service-btn {
        font-size: 1rem;
    }
    .containerc {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-content: center;
        gap: 2rem;
        margin: 0 auto;
    }
    .blog {
        padding: 0.5rem 0.5rem 0 0.5rem;
        display: flex;
        justify-content: space-between;
        height: auto;
    }
    .blog-date, p {
        font-weight: 200;
        font-size: 1rem;
        line-height: 1.5rem;
        padding-right: 1rem;
    }

    .blog-title, .blog-category, p {
        letter-spacing: normal;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .blog-category {
        display: none;
    }
    .nextPost, .prevPost {
        font-size: 1.2rem;
    }
    .titlecontact h1 {
        font-weight: 300;
        text-align: left;
    }
    .container-c {
        padding: 0;
        padding: 1rem 1.5rem;
    }
    .container-c p {
        font-weight: 200;    
        text-align: justify;
        padding: 0;
        margin: 0;
    }
}